site_name: LinuxServer.io
site_url: https://docs.linuxserver.io
site_author: LinuxServer.io
site_description: Welcome to the home of the LinuxServer.io documentation!

repo_name: linuxserver/docker-documentation
repo_url: https://github.com/linuxserver/docker-documentation

copyright: Copyright &copy; 2023 LinuxServer.io

theme:
  name: material
  features:
    # - content.action.edit
    - content.code.copy
    - navigation.footer
    - navigation.instant
    # - navigation.prune
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: purple
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: purple
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  favicon: assets/favicon.ico
  logo: assets/icon.svg

extra:
  social:
    - icon: fontawesome/solid/otter
      link: https://linuxserver.io
    - icon: fontawesome/brands/discord
      link: https://discord.gg/YWrKVTn
    - icon: fontawesome/brands/discourse
      link: https://discourse.linuxserver.io
    - icon: fontawesome/brands/github
      link: https://github.com/linuxserver
    - icon: fontawesome/brands/gitlab
      link: https://gitlab.com/linuxserver.io
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/linuxserver.io
    - icon: fontawesome/brands/mastodon
      link: https://mastodon.linuxserver.io/@linuxserver
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/linuxserverio

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.escapeall
  - pymdownx.extra
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables
  - toc:
      permalink: true

plugins:
  - awesome-pages
  - git-revision-date-localized:
      enable_creation_date: true
  - minify:
      minify_html: true
  - search
  - redirects:
      redirect_maps:
        'faq.md': 'FAQ.md'