{"openapi":"3.1.0","info":{"title":"LinuxServer API","version":"1.0"},"servers":[{"url":"https://api.linuxserver.io"}],"paths":{"/health":{"get":{"summary":"Get the health status","operationId":"health_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/api/v1/images":{"get":{"summary":"Get a list of images","operationId":"images_api_v1_images_get","parameters":[{"name":"include_config","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Include Config"}},{"name":"include_deprecated","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Include Deprecated"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImagesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"Architecture":{"properties":{"arch":{"type":"string","title":"Arch"},"tag":{"type":"string","title":"Tag"}},"type":"object","required":["arch","tag"],"title":"Architecture"},"Cap":{"properties":{"cap_add":{"type":"string","title":"Cap Add"},"desc":{"type":"string","title":"Desc"},"optional":{"type":"boolean","title":"Optional"}},"type":"object","required":["cap_add","desc","optional"],"title":"Cap"},"Changelog":{"properties":{"date":{"type":"string","title":"Date"},"desc":{"type":"string","title":"Desc"}},"type":"object","required":["date","desc"],"title":"Changelog"},"Config":{"properties":{"application_setup":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Application Setup"},"readonly_supported":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Readonly Supported"},"nonroot_supported":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Nonroot Supported"},"privileged":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Privileged"},"networking":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Networking"},"hostname":{"anyOf":[{"$ref":"#/components/schemas/Hostname"},{"type":"null"}]},"mac_address":{"anyOf":[{"$ref":"#/components/schemas/MacAddress"},{"type":"null"}]},"env_vars":{"anyOf":[{"items":{"$ref":"#/components/schemas/EnvVar"},"type":"array"},{"type":"null"}],"title":"Env Vars"},"volumes":{"anyOf":[{"items":{"$ref":"#/components/schemas/Volume"},"type":"array"},{"type":"null"}],"title":"Volumes"},"ports":{"anyOf":[{"items":{"$ref":"#/components/schemas/Port"},"type":"array"},{"type":"null"}],"title":"Ports"},"custom":{"anyOf":[{"items":{"$ref":"#/components/schemas/Custom"},"type":"array"},{"type":"null"}],"title":"Custom"},"security_opt":{"anyOf":[{"items":{"$ref":"#/components/schemas/SecurityOpt"},"type":"array"},{"type":"null"}],"title":"Security Opt"},"devices":{"anyOf":[{"items":{"$ref":"#/components/schemas/Device"},"type":"array"},{"type":"null"}],"title":"Devices"},"caps":{"anyOf":[{"items":{"$ref":"#/components/schemas/Cap"},"type":"array"},{"type":"null"}],"title":"Caps"}},"type":"object","title":"Config"},"Custom":{"properties":{"name":{"type":"string","title":"Name"},"name_compose":{"type":"string","title":"Name Compose"},"value":{"anyOf":[{"type":"string"},{"items":{"type":"string"},"type":"array"}],"title":"Value"},"desc":{"type":"string","title":"Desc"},"optional":{"type":"boolean","title":"Optional"}},"type":"object","required":["name","name_compose","value","desc","optional"],"title":"Custom"},"Device":{"properties":{"path":{"type":"string","title":"Path"},"host_path":{"type":"string","title":"Host Path"},"desc":{"type":"string","title":"Desc"},"optional":{"type":"boolean","title":"Optional"}},"type":"object","required":["path","host_path","desc","optional"],"title":"Device"},"EnvVar":{"properties":{"name":{"type":"string","title":"Name"},"value":{"type":"string","title":"Value"},"desc":{"type":"string","title":"Desc"},"optional":{"type":"boolean","title":"Optional"}},"type":"object","required":["name","value","desc","optional"],"title":"EnvVar"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Hostname":{"properties":{"hostname":{"type":"string","title":"Hostname"},"desc":{"type":"string","title":"Desc"},"optional":{"type":"boolean","title":"Optional"}},"type":"object","required":["hostname","desc","optional"],"title":"Hostname"},"Image":{"properties":{"name":{"type":"string","title":"Name"},"github_url":{"type":"string","title":"Github Url"},"project_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Project Url"},"project_logo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Project Logo"},"description":{"type":"string","title":"Description"},"version":{"type":"string","title":"Version"},"version_timestamp":{"type":"string","title":"Version Timestamp"},"category":{"type":"string","title":"Category"},"stable":{"type":"boolean","title":"Stable"},"deprecated":{"type":"boolean","title":"Deprecated"},"stars":{"type":"integer","title":"Stars"},"tags":{"items":{"$ref":"#/components/schemas/Tag"},"type":"array","title":"Tags"},"architectures":{"items":{"$ref":"#/components/schemas/Architecture"},"type":"array","title":"Architectures"},"changelog":{"anyOf":[{"items":{"$ref":"#/components/schemas/Changelog"},"type":"array"},{"type":"null"}],"title":"Changelog"},"config":{"anyOf":[{"$ref":"#/components/schemas/Config"},{"type":"null"}]}},"type":"object","required":["name","github_url","description","version","version_timestamp","category","stable","deprecated","stars","tags","architectures"],"title":"Image"},"ImagesData":{"properties":{"repositories":{"$ref":"#/components/schemas/Repository"}},"type":"object","required":["repositories"],"title":"ImagesData"},"ImagesResponse":{"properties":{"status":{"type":"string","title":"Status"},"last_updated":{"type":"string","title":"Last Updated"},"data":{"$ref":"#/components/schemas/ImagesData"}},"type":"object","required":["status","last_updated","data"],"title":"ImagesResponse"},"MacAddress":{"properties":{"mac_address":{"type":"string","title":"Mac Address"},"desc":{"type":"string","title":"Desc"},"optional":{"type":"boolean","title":"Optional"}},"type":"object","required":["mac_address","desc","optional"],"title":"MacAddress"},"Port":{"properties":{"external":{"type":"string","title":"External"},"internal":{"type":"string","title":"Internal"},"desc":{"type":"string","title":"Desc"},"optional":{"type":"boolean","title":"Optional"}},"type":"object","required":["external","internal","desc","optional"],"title":"Port"},"Repository":{"properties":{"linuxserver":{"items":{"$ref":"#/components/schemas/Image"},"type":"array","title":"Linuxserver"}},"type":"object","required":["linuxserver"],"title":"Repository"},"SecurityOpt":{"properties":{"run_var":{"type":"string","title":"Run Var"},"compose_var":{"type":"string","title":"Compose Var"},"desc":{"type":"string","title":"Desc"},"optional":{"type":"boolean","title":"Optional"}},"type":"object","required":["run_var","compose_var","desc","optional"],"title":"SecurityOpt"},"Tag":{"properties":{"tag":{"type":"string","title":"Tag"},"desc":{"type":"string","title":"Desc"}},"type":"object","required":["tag","desc"],"title":"Tag"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"Volume":{"properties":{"path":{"type":"string","title":"Path"},"host_path":{"type":"string","title":"Host Path"},"desc":{"type":"string","title":"Desc"},"optional":{"type":"boolean","title":"Optional"}},"type":"object","required":["path","host_path","desc","optional"],"title":"Volume"}}}}